/* build time:Sun Jun 14 2020 20:19:27 GMT+0800 (China Standard Time)*/
html{filter:grey!important;filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%)}
/* rebuild by neat */